body {
  background: pink;
}

h1 {
  font-size: 3em;
  color: blue;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: normal;
}

.completed {
  font-size: 12px;
}

#tasks {
  width: 300px;
}

#tasks li {
  padding: 4px 2px;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}